<!DOCTYPE html>
<html ng-app="myModule">
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />
    <script src="../Scripts/jquery-1.9.1.min.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>
    <script src="../Scripts/angular.js"></script>
    <script src="script.js"></script>
    
</head>
<body>
    <div ng-controller="myController" class="container" style="margin-top: 20px">
        <table class="table table-hover table-bordered">
            <tr>
                <th>Technology</th>
                <th>Likes</th>
                <th>Dislikes</th>
                <th>Like/Dislike</th>
            </tr>
            <tr ng-repeat="technology in technologies">
                <td>{{technology.Name}}</td>
                <td>{{technology.Likes}}</td>
                <td>{{technology.Dislikes}}</td>
                <td>
                    <input type="button" value="Like" ng-click="increamentLikes(technology)" class="btn btn-info" />
                    <input type="button" value="Dislike" ng-click="increamentDislikes(technology)" class="btn btn-info" />
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
